<body>
    <div class="jumbotron">
      <h1 class="display-4">Welcome!!</h1>
      <p class="lead">You can create, edit and see upcoming interviews.</p>
      <p class="lead">Please click on the appropriate button</p>
      <a class="btn btn-primary btn-lg" href="/create" role="button">Create Interview</a>
      <a class="btn btn-primary btn-lg" href="/edit" role="button">Edit Interview</a>
      <a class="btn btn-primary btn-lg" href="/upcoming" role="button">Upcoming Interview</a>
    </div>
</body>